<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>线程计时器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39DCE3381C17B46600767717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39DCE3511C17B46700767717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39DCE35C1C17B46700767717</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
